@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {background-color: #9ea8ba; text-align: center}
img {width: 500px}
iframe {width: 400px;)
}
p {font-size: 30pt; font-family: 'Roboto', sans-serif}
h1 {font-size: 40pt; text-align: center}
#titre2 {color:#d30e60;}
.blip {color: #469376}
a {font-size: 16pt}